<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Civil_engineering_tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Civil_engineering_tool.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Civil_engineering_tool.Properties.Settings.Database4ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database4.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Civil_engineering_tool.Properties.Settings>
            <setting name="ID_001" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_002" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_003" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_004" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_005" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_006" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_007" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_008" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_009" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_010" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_011" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_012" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_013" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_014" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_015" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_016" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_017" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_018" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_019" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_020" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_021" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_022" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_023" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_024" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_025" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_026" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_027" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_028" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_029" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_030" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_031" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_032" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_033" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_034" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_035" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_036" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_037" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_038" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_039" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_040" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_041" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_042" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_043" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_044" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID_045" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="foot_type" serializeAs="String">
                <value>0</value>
            </setting>
        </Civil_engineering_tool.Properties.Settings>
    </userSettings>
</configuration>